@page
@model super_ws.api.Pages.ETHUSDModel
@{
    ViewData["Title"] = "ETHESD";
}

<!DOCTYPE html>
<html>
<head>
    <script src='https://cdn.plot.ly/plotly-2.34.0.min.js'></script>
</head>
<body>
    <div id='chartDiv'></div>
</body>
</html>

<script>

    var trace = @Html.Raw(Json.Serialize(@Model.quote));

    var data = [trace];

    var layout = {
        dragmode: 'zoom',
        margin: {
            r: 10,
            t: 25,
            b: 40,
            l: 60
        },
        showlegend: true,
        xaxis: {
            autorange: true,
            title: 'Date',
            type: 'date'
        },
        yaxis: {
            autorange: true,
            type: 'linear'
        }
    };

    Plotly.newPlot('chartDiv', data, layout);

</script>
